<!DOCTYPE html>
<html lang="es">
    <head>
        <title>LSKV</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Fontawesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <!--Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
        <!--Favicon-->
        <link rel="shortcut icon" href="images/logo-meta.svg" alt= "logo página web LSKV">
        <!--Styles-->
        <link href="css/home.css" rel="stylesheet">
    </head>
    <body>
    
        <header>
            <nav>
                <div class="header-container">
                    <div class="logo-container">
                        <img src="images/Logo4.svg" alt="logo de LSKV" class="logo">
                    </div>
                    <div>
                        <ul class="list-home">
                            <li><a href="#">Productos</a></li>
                            <li><a href="#">Locales</a></li>
                            <li><a href="#">Promos y Cuotas</a></li>
                            <li><a href="#">Empresa</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="login-home">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <a href="#"><i class="fas fa-shopping-bag"></i></a>
                        <a href="#"><i class="fas fa-user"></i></a>
                        <a href="#">Ingresar / Registrarse</a>
                    </div>
                </div>
            </nav>
        </header>

    </body>
</html>