<!DOCTYPE html>
<html lang="en">
<head>
    <title>LSKV</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" href="images/logo-meta.svg" alt= "logo página web LSKV">
    <!--Styles-->
    <link href="/css/productCart2.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="header-container">

                <div class="logo-container">
                    <img src="/images/Logo4.svg" alt="logo de LSKV" class="logo">
                </div>

                <div class = "list-container">
                    <ul class="list-home">
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Locales</a></li>
                        <li><a href="#">Promos y Cuotas</a></li>
                        <li><a href="#">Empresa</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
                
                <div class="burger-menu">
                    <a href = "#"><i class="fa fa-bars burger"></i></a>
                </div>

                <div class="login-home">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="fas fa-shopping-bag"></i></a>
                    <a href="#"><i class="fas fa-user"></i></a>
                    <div class = "IngresarRegistrarse">
                        <a href="#">Ingresar / Registrarse</a>
                    </div>
                </div>

            </div>
        </nav>
    </header>


    <section>
        <div class="back">
            <a href="#"><i class="fas fa-angle-left"></i> Volver </a>
        </div>
    </section>

    <main>
   <section>
        <article>
            
            <h1>Tu carrito de compras</h1>
        </article>
        <article class="paso">
            <h2>1</h2>
            <h2 class="pasoDos">2</h2>
            <h2>3</h2>
            <h2>4</h2>
        </article>
    </section>
     <section>
        <div class="cuerpo">
                    
            <article class="login">
                
                <h2 class="izquierda">Iniciar sesion</h2>
                <h4>¿Ya eres cliente?</h4>
                <p>¡Bienvenido de nuevo!</p>

                
               <form action="/" method="POST">
                   <div>
                        <label for="fa-user">usuario</label>
             <input type="text" name="usuario">
                   </div>
                   <div>
                       <label for="password">contraseña</label>
             <input type="password" name="contraseña">
                   </div>
            
             
             <a href = "#" > ¿Has olvidado tu contraseña?</a>
             <button type="button">Ingresar</button>
           </form>

           



     </section>

    

    

    <footer>
        <section class="footer-Top">

            <article class="description">
                <div class="icon-des"><i class="fas fa-truck"></i></div>
                <div>
                    <h4>ENVIO GRATIS</h4>
                    <p>En compras superiores de $5000</p>
                </div>
            </article>

            <article class="description">
                <div class="icon-des"><i class="fas fa-credit-card"></i></div>
                <div>
                    <h4>CUOTAS SIN INTERES</h4>
                    <p>Ver promociones bancarias</p>
                </div>
            </article>

            <article class="description">
                <div class="icon-des"><i class="fas fa-exchange-alt"></i></div>
                <div>
                    <h4>1° CAMBIO GRATIS</h4>
                    <p>Dentro de los 30 dias</p>
                </div>
            </article>

            <article class="description">
                <div class="icon-des"><i class="fas fa-headset"></i></div>
                <div>
                    <h4><i class="fas fa-phone-alt"></i> 11-xxxx-xxxx</h4>
                    <p>Lunes a viernes de 9:00 a 18:00 hs</p>
                </div>
            </article>

        </section>

        <section class="footer-Buttom">

            <article class="red">
                <h4>SIGUENOS EN:</h4>
                <div class="icon">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </article>

            <article class="newsletter">
                <h4>SUSCRIBETE A NUESTRO Newsleter:</h4>
                <div class="box">
                    <i class="fas fa-newspaper"></i>
                    <div class="input">Dirección de email</div>
                </div>
            </article>

            <article class="info">
                <h4>Todos los derechos reservados</h4>
                <div>
                <ul>
                    <li>Locales</li>
                    <li>Informacion legal</li>
                    <li>Mayoristas</li>
                    <li>Blablabla</li>
                </ol>
                </div>
            </article>

        </section>

    </footer>
    </main>

</body>
</html>