<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://kit.fontawesome.com/c1cf3ee60d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" href="images/logo-meta.svg" alt= "logo página web LSKV">
    <title>register</title>
</head>
<body>
    <header>
        <nav>
            <div class="header-container">
                <div class="logo-container">
                    <img src="images/Logo4.svg" alt="logo de LSKV" class="logo">
                </div>
                <div>
                    <ul class="list-home">
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Locales</a></li>
                        <li><a href="#">Promos y Cuotas</a></li>
                        <li><a href="#">Empresa</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
                <div class="login-home">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="fas fa-shopping-bag"></i></a>
                    <a href="#"><i class="fas fa-user"></i></a>
                    <a href="#">Ingresar / Registrarse</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <article class="register">
        <h2>¡Hola!</h2>
        <h5>¡Hay muchos productos nuevos esperándote!</h5>
        <h3>Registro</h3>
        <section class="log-Red">
            <div class="facebook">
                <i class="fab fa-facebook-square"></i>
                <p>Registrarse con Facebook</p>
            </div>
            <div class="google">
                <i class="fab fa-google"></i>
                <p>Registrarse con Google</p>
            </div>
            <div>
                <p class="o">O</p>
            </div>
        </section>
        <section class="datos">
            <form action="/" method="post">
                <div>
                    <label for="email">
                        Dirección de correo electronico
                        <input type="email" name="email" id="email" required>
                    </label>
                </div>
                <div>
                    <label for="password">
                        Contraseña
                        <input type="password" name="password" id="password">
                    </label>
                </div>
                <div>
                    <label for="nombre">
                        Nombre
                        <input type="text" name="nombre" id="nombre">
                    </label>
                </div>
                <div>
                    <label for="apellido">
                        Apellido
                        <input type="text" name="apellido" id="apellido">
                    </label>
                </div>
                <div>
                    <label for="dni">
                        DNI
                        <input type="number" name="dni" id="dni" required>
                    </label>
                </div>
                <div>
                    <label for="fNac">
                        Fecha de nacimiento
                        <input type="date" name="fNac" id="fNac">
                    </label>
                </div>
            </form>
        </section>
    </article>

    </main>
    <footer>
        <section class="footer-Top">

            <article class="description">
                <div class="icon-des"><i class="fas fa-truck"></i></div>
                <div>
                    <h4>ENVIO GRATIS</h4>
                    <p>En compras superiores de $5000</p>
                </div>
            </article>
            <article class="description">
                <div class="icon-des"><i class="fas fa-credit-card"></i></div>
                <div>
                    <h4>CUOTAS SIN INTERES</h4>
                    <p>Ver promociones bancarias</p>
                </div>
            </article>
            <article class="description">
                <div class="icon-des"><i class="fas fa-exchange-alt"></i></div>
                <div>
                    <h4>1° CAMBIO GRATIS</h4>
                    <p>Dentro de los 30 dias</p>
                </div>
            </article>
            <article class="description">
                <div class="icon-des"><i class="fas fa-headset"></i></div>
                <div>
                    <h4><i class="fas fa-phone-alt"></i> 11-xxxx-xxxx</h4>
                    <p>Lunes a viernes de 9:00 a 18:00 hs</p>
                </div>
            </article>

        </section>
        <section class="footer-Buttom">
            <article class="red">
                <h4>SIGUENOS EN:</h4>
                <div class="icon">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </article>
            <article class="newsletter">
                <h4>SUSCRIBETE A NUESTRO Newsleter:</h4>
                <div class="box">
                    <i class="fas fa-newspaper"></i>
                    <div class="input">Dirección de email</div>
                </div>
            </article>
            <article class="info">
                <h4>Todos los derechos reservados</h4>
                <div>
                <ul>
                    <li>Locales</li>
                    <li>Informacion legal</li>
                    <li>Mayoristas</li>
                    <li>Blablabla</li>
                </ol>
                </div>
            </article>

        </section>

    </footer>
    
</body>

</html>