* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

nav{
    width: 100%;
}
div.IngresarRegistrarse,
div.list-container { 
    display: none;
}

.list-home {
    list-style: none;
    display: flex;
}
div.IngresarRegistrarse a{
    font-size: 12px;
}

.list-home li{
    padding: 20px 14px;
    font-size: 12px;
}

.list-home li a {
    text-decoration: none;
    padding: 5px;
}



.header-container {
    width: 100%;
    background-color: #F8E2CF;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    position: relative;
}

.logo{
    width: 50px;
}

div.login-home a,
div.burger-menu a{
    font-size: 20px;
    text-decoration: none;
}

div.login-home a{
    margin: 0px 5px;
}

div.burger-menu,
div.login-home{ 
    padding: 15px 0px ;
}

div.logo-container{
    padding: 6px 0px ;
}

div.burger-menu {
    position: absolute;
    left : 18vw;
}

div.login-home {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 2vw;
}

/********************* Banner *********************/

.banner{
    width: 100%;
}

section div .img-banner{
    width: 100%;
}

/********************* Populares *********************/

.populares{
    width: 100%;
    display: flex;
    margin-top: 3%;
}

section .popular-now{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

section div .tittle-popu{
    font-size: 3em;
}

section div .btn-popu button{
    font-size: 20px;
    padding: 10px 35px;
    margin: 10px;
}

/********************* Main *********************/

.products{
    margin-top: 1%;
}

.description{
    text-align: center;
    color: #666;
}

main section article{
    background-color: #FFF;
    
}
main section article div{
    position: relative;
}

main section article img{
    width: 100%;
}

main{
    width: 90%;
    padding: 40px;
    margin: auto;
}

.products article{
    margin: 10px;
}

.main-article{
    border: solid 1px #ebebeb;
    padding: 15px;
}

.estilos-productos{
    text-align: center;
    font-size: 3em;
    margin: 3% 0%;
}

/********************* Footer *********************/
footer{
    border: 2px solid black;
    margin: 10px;
}

.footer-Top{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: left;
    min-width: 250px;
    
}

.footer-Top .description{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 10px;
    align-items: left;
    width: 100%;
}

.footer-Top .description .icon-des{
    margin: 0 5px;
    font-size: 40px;
}
.footer-Top .description .icon-des p{
    font-size: 8px;
}

.footer-Buttom{
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: left;
    min-width: 200px;
    border-top: 1px solid black;
    background-color: #FCD8D4;
    color: white
}

.footer-Buttom article{
    width: 58%;
}

.footer-Buttom .red{
    margin: 10px;
    padding: 10px;
}

.footer-Buttom .red .icon{
    display: flex;
    flex-wrap: wrap;
}

.footer-Buttom .red .icon i{
    margin: 0 5px;
    font-size: 50px;
}

.footer-Buttom .newsletter{
    margin: 0 20px;
    padding: 15px;
    margin: 0 15px;
}

.footer-Buttom .newsletter .box{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 40, 61);
    border-radius: 10px;
    width: 211px;
}

.footer-Buttom .newsletter .box i{
    font-size: 30px;
    margin: 0 10px;
    color: #fff;
}

.footer-Buttom .newsletter .box .input{
    background-color: #fff;
    color: lightgray;
}

.footer-Buttom .info{
    margin: 0 20px;
    padding: 15px;
    margin: 0 15px;
}

.footer-Buttom .info div ul{
    list-style: none;
}


/********************* Medias Mobile *********************/
@media (min-width: 370px)  {
    .logo{
        display: flex;
        justify-content: flex-start;
        width: 11vw;
    }

    div.burger-menu {
        left : 15vw;
    }

    div.burger-menu a,
    div.login-home a {
        font-size: 5vw;
    }

    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .products article{
        width: 45%;
    }

    /* Footer */
    .footer-Top .description{
        flex-direction: row;
        width: 20%;
        min-width: 300px;
    }

    .footer-Buttom article{
        width: 45%
    }

    
}


/********************* Medias Escritorio *********************/
@media (min-width: 750px) {
    .logo{
        width: 60px;
    }
    .header-container .list-container,
    .header-container .IngresarRegistrarse{
        display: block;
    }
    
    div.burger-menu{
        display: none;
    } 

    div.login-home {
        position: static;
    }

    div.login-home a {
        font-size: 15px;
        justify-content: flex-end;
    }
    div.login-home .IngresarRegistrarse a{
        font-size: 12px;
    }

    .products article{
        width: 20%;
    }

    .products article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .footer-Top .description{
       
        width: 20%;
        
    }

    .footer-Buttom article{
        width: 45%
    }
    
    footer .footer-Buttom .newsletter .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: rgb(48, 40, 61);
        border-radius: 30px;
        width: 250px;
    }
    .footer-Buttom {
            flex-wrap: nowrap;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            align-items: flex-start;
        
    }
}