* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
nav{
    width: 100%;
}
div.IngresarRegistrarse,
div.list-container { 
    display: none;
}

.list-home {
    list-style: none;
    display: flex;
}
div.IngresarRegistrarse a{
    font-size: 12px;
}

.list-home li{
    padding: 20px 14px;
    font-size: 12px;
}

.list-home li a {
    text-decoration: none;
    padding: 5px;
}



.header-container {
    width: 100%;
    background-color: #F8E2CF;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    position: relative;
}

.logo{
    width: 50px;
}

div.login-home a,
div.burger-menu a{
    font-size: 20px;
    text-decoration: none;
}

div.login-home a{
    margin: 0px 5px;
}

div.burger-menu,
div.login-home{ 
    padding: 15px 0px ;
}

div.logo-container{
    padding: 6px 0px ;
}

div.burger-menu {
    position: absolute;
    left : 18vw;
}

div.login-home {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 2vw;
}
h1 {
    text-align: center;
    margin: 2px;
}
/* Main*/
main{
  
    
    margin: 4px;
    padding: 4px;
    
    
}
main section{
    align-items: center;
    align-content: center;
}
main .cuerpoCarrito{
    border: 2px solid black;
    margin: 6px;
    text-align: center;
   justify-content: center;
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   width: 100%;
 }
 main section .cuerpoCarrito .login{
     margin: 6px;
 }
 main section .cuerpoCarrito .login form a{
     width: 100%;
     margin: 2px;
 }
 main section .cuerpoCarrito .login form button{
    width: 100%;
}


 

 


main section  .cuerpoCarrito .login form label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

main section .cuerpoCarrito .register form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
}
main section .cuerpoCarrito .login form {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    display: grid;  
}
main section .cuerpoCarrito .register form {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;  
}
main section .cuerpoCarrito .login form button{
    width:173px ;
    justify-content: center;
    margin: 0px 50px;
    border-radius: 5px;
    
    
}
main section .cuerpoCarrito .login form button:hover{
   
   background-color:#F8E2CF
}

main section .cuerpoCarrito .register button{
    width: 173px;
    justify-content: center;
    margin: 0px 50px;
    border-radius: 5px;
    margin: 10px;
    
}
main section .cuerpoCarrito .register button:hover{
    background-color:#F8E2CF
}
main section h1.title { 
    display: flex;
    position: relative;
    justify-content:center;
    font-size: 25px;
    margin: 15px 0px 40px;
}
main section h1.title:before{
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    bottom: 2px;
    border-bottom: 3px solid red;
}
main section .cuerpoCarrito .register {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}


/*Carrito 2*/
main section .paso{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

main section .paso:before{
    content: "";
    position: absolute;
    width: 80%;
    bottom: 50%;
    border-bottom: 3px solid black;
    z-index: 0;
}
 
main section .paso h2{
    text-align: center ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid black ;
    padding-top: 4px;
    z-index: 1000;
    background-color: #fff;
 }

 main section .paso .pasoDos{
     background-color: red;
     color: #fff;
 } 




/*FOOTER*/
footer{
    border: 2px solid black;
    margin: 10px;
}

.footer-Top{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    min-width: 250px;
}
    


.footer-Top .description{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 10px;
    align-items: left;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.footer-Top .description h4{
    text-align: center;
}

.footer-Top .description .icon-des{
    margin: 0 5px;
    font-size: 40px;
}
.footer-Top .description .icon-des p{
    font-size: 8px;
}

.footer-Buttom{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    border-top: 1px solid black;
    background-color: #FCD8D4;
    color: white
    
}

.footer-Buttom article{
    width: 58%;
}

.footer-Buttom .red{
    margin: 10px;
    padding: 10px;
}

.footer-Buttom .red .icon{
    display: flex;
    flex-wrap: wrap;
}

.footer-Buttom .red .icon i{
    margin: 0 5px;
    font-size: 50px;
}

.footer-Buttom .newsletter{
    margin: 0 20px;
    padding: 15px;
    margin: 0 15px;
}

.footer-Buttom .newsletter .box{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 40, 61);
    border-radius: 10px;
    width: 211px;
}

.footer-Buttom .newsletter .box i{
    font-size: 30px;
    margin: 0 10px;
    color: #fff;
}

.footer-Buttom .newsletter .box .input{
    background-color: #fff;
    color: lightgray;
}

.footer-Buttom .info{
    margin: 0 20px;
    padding: 15px;
    margin: 0 15px;
}

.footer-Buttom .info div ul{
    list-style: none;
}
@media (min-width:370 ){
    .logo{
        width: 60px;
    }
    .header-container .list-container,
    .header-container .IngresarRegistrarse{
        display: block;
    }
    
    div.burger-menu{
        display: none;
    } 

    div.login-home {
        position: static;
    }

    div.login-home a {
        font-size: 15px;
        justify-content: flex-end;
    }
    div.login-home .IngresarRegistrarse a{
        font-size: 12px;
    }
    /*Main*/

  
    
    
    
    /*Footer*/
    .footer-Top .description{
        flex-direction: row;
        width: 20%;
        min-width: 300px;
    }


    .footer-Buttom {
        min-width: 30%;

    }

    .footer-Buttom{
        align-self: center;
    }


    .footer-Buttom .newsletter .box{
        width: 40%;
    }
}
@media (min-width: 700px){
    /*Main*/

    main section .cuerpoCarrito {
        justify-content: center;
    display: flex;
    flex-direction: row;
        padding: 10px;
       
     }
     main section .cuerpoCarrito .login {
         
         float: left;
         
     }
     main section .cuerpoCarrito .register{
         width:300px;
          height:auto; 
          float:left;
           display:inline;
     }
     
      main section .cuerpoCarrito .login{
         display:inline-block
      }
      main section .cuerpoCarrito .register{
         display:inline-block
      }
     
     
     main section .cuerpoCarrito article{
         flex-direction: row;
         width: 45%;
     }


    /*Footer*/
    .footer-Buttom article{
        width: 45%
    }
    
footer .footer-Buttom .newsletter .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 40, 61);
    border-radius: 30px;
    width: 250px;
}
.footer-Buttom {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: flex-start;

}
.footer-Top .description {
    width: 20%;
}

}